body{
    margin: 0px;
    padding: 0px;
    min-width: 100%;
}

#landing{
    margin: 0px;
    padding: 0px;
    height: 750px;
    width: 100%;
    background-image: url("../images/restaurantBG.jpg");
    background-position: center;
    /* position: fixed; */
    background-size: cover;

}
nav h1{
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 15px 50px;
}
nav{
    margin: 15px 50px;   
    margin-top: 0px;    
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#Hsection{
    margin: 225px 80px;

}
#slogan{
    color: white;
    font-size: 100px;
    font-weight: lighter;
    display: block;
    margin-bottom: 0px;
}
.Hbtn{
    background: none;
    border: white 1px solid;
    padding: 5px 8px;
    margin: 10px;
    color: white;
    font-size: 18px;    
    font-weight: lighter;
}
.Hbtn:hover{
    background: white;
    color: black;
}
section{
    height: 400px;
    background: #f7f7f7;
    padding: 100px;
}
section img{
    height: 400px;
    width: 400px;
}
#Sinfo{
    display: block;
    float: right;
    background: red;
}


