body{
    margin: 0px;
    padding: 0px;
    min-width: 100%;
}

#landing{
    margin: 0px;
    padding: 0px;
    height: 750px;
    width: 100%;
    background-image: url("../images/restaurantBG.jpg");
    background-position: center;
    /* position: fixed; */
    background-size: cover;

}
nav h1{
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 15px 50px;
}
nav{
    margin: 15px 50px;   
    margin-top: 0px;    
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#Hsection{
    margin: 225px 80px;

}
#slogan{
    color: white;
    font-size: 100px;
    font-weight: lighter;
    display: block;
    margin-bottom: 0px;
}
.Hbtn{
    background: none;
    border: white 1px solid;
    padding: 5px 8px;
    margin: 10px;
    color: white;
    font-size: 18px;    
    font-weight: lighter;
}
.Hbtn:hover{
    background: white;
    color: black;
}
#S1{
    height: 400px;
    background: #f7f7f7;
    padding: 80px;
}
section img{
    height: 400px;
    width: 300px;
    width: 40%;
    float: left;
}
#Sinfo{
    width: 60%;
    float: right;
    margin: 100px 0px;
}

#menu{
    background: white;  
    padding: 150px;      
}
#menu h1{
    margin-top: 20px;
    text-align: center;     
}
#pizza {
    background-image: url("../images/shallow-focus-photography-of-several-pizzas-1566837.jpg");
    background-size: cover;
    background-position: center; 
    height: 200px;
    width: 100%;
    margin: 50px 0px;
}
#pizza h2{
    padding-top: 50px;
    text-align: center;
}
#pasta {
    background-image: url("../images/cooked-pasta-on-brown-wooden-bowl-803963.jpg"); 
    background-size: cover;
    background-position: center;  
    /* background: red; */
    height: 300px;
    display: block;
    float: left;
    width: 48%;

    /* margin-left: 155px; */
}

#salad {
    background-image: url("../images/appetizer-close-up-cuisine-delicious-434258.jpg    ");
    background-size: cover;
    background-position: center; 
    /* background: red; */
    height: 300px;
    width: 48%;
    display: block;
    float: right;   
    
    /* margin-left: 155px; */
}


